ContentPacks/
Screenshots/
Server/
*.lua
*.zip
meta
Content/
credits.txt
GameDevCommon.dll
GameDevCommon.pdb
log.dat
MonoGame.Framework.dll
MonoGame.Framework.xml
NAudio.dll
NAudio.Vorbis.dll
NAudio.xml
NVorbis.dll
NVorbis.xml
Save/Keyboard.dat
Save/options.dat
Save/server_list.dat
SharpDX.Direct2D1.dll
SharpDX.Direct2D1.xml
SharpDX.Direct3D11.dll
SharpDX.Direct3D11.xml
SharpDX.Direct3D9.dll
SharpDX.Direct3D9.xml
SharpDX.dll
SharpDX.DXGI.dll
SharpDX.DXGI.xml
SharpDX.Mathematics.dll
SharpDX.Mathematics.xml
SharpDX.MediaFoundation.dll
SharpDX.MediaFoundation.xml
SharpDX.XAudio2.dll
SharpDX.XAudio2.xml
SharpDX.XInput.dll
SharpDX.XInput.xml
SharpDX.xml
System.Buffers.dll
System.Buffers.xml
System.Memory.dll
System.Memory.xml
System.Runtime.CompilerServices.Unsafe.dll
System.Runtime.CompilerServices.Unsafe.xml
System.ValueTuple.dll
System.ValueTuple.xml
GameModes/Kolben/GameMode.dat
*.tmp
Microsoft.Win32.Registry.dll
Microsoft.Win32.Registry.xml
NAudio.Asio.dll
NAudio.Core.dll
NAudio.Midi.dll
NAudio.Wasapi.dll
NAudio.WinForms.dll
NAudio.WinMM.dll
SharpDX.Direct2D1.pdb
SharpDX.Direct3D11.pdb
SharpDX.Direct3D9.pdb
SharpDX.DXGI.pdb
SharpDX.Mathematics.pdb
SharpDX.MediaFoundation.pdb
SharpDX.pdb
SharpDX.XAudio2.pdb
SharpDX.XInput.pdb
System.Numerics.Vectors.dll
System.Numerics.Vectors.xml
System.Security.AccessControl.dll
System.Security.AccessControl.xml
System.Security.Principal.Windows.dll
System.Security.Principal.Windows.xml
GameModes/Hoenn/
Save/Lost_Test/Apricorns.dat
Save/Lost_Test/Berries.dat
Save/Lost_Test/Box.dat
Save/Lost_Test/Daycare.dat
Save/Lost_Test/HallOfFame.dat
Save/Lost_Test/ItemData.dat
Save/Lost_Test/Items.dat
Save/Lost_Test/NPC.dat
Save/Lost_Test/Options.dat
Save/Lost_Test/Party.dat
Save/Lost_Test/Player.dat
Save/Lost_Test/Pokedex.dat
Save/Lost_Test/Register.dat
Save/Lost_Test/RoamingPokemon.dat
Save/Lost_Test/SecretBase.dat
Save/Lost_Test/Statistics.dat
D3DCompiler_47_cor3.dll
Microsoft.CodeAnalysis.CSharp.dll
Microsoft.CodeAnalysis.dll
Microsoft.CodeAnalysis.VisualBasic.dll
PenImc_cor3.dll
Pokemon3D.deps.json
Pokemon3D.dll
Pokemon3D.runtimeconfig.json
PresentationNative_cor3.dll
runtimes/debian-x64/native/libuv.so
runtimes/fedora-x64/native/libuv.so
runtimes/opensuse-x64/native/libuv.so
runtimes/osx/native/libuv.dylib
runtimes/rhel-x64/native/libuv.so
runtimes/win/lib/net6.0/System.Management.dll
runtimes/win7-arm/native/libuv.dll
runtimes/win7-x64/native/libuv.dll
runtimes/win7-x86/native/libuv.dll
System.Management.dll
vcruntime140_cor3.dll
wpfgfx_cor3.dll
GameModes/PolishedKolben/
Save_Backup/
GameModes/Pokemon Brown 3D/
